@import url("https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap");

html,
body {
  font-family: "Red Hat Text";
  background: #f0f4f8;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

label {
  display: block;
}

select {
  border: 1px solid #d9e2ec;
  font-size: 18px;
  border-radius: 15px;
  padding: 4px 6px;
  height: 35px;
}

input[type="text"] {
  border-radius: 15px;
  border: 1px solid #d9e2ec;
  font-size: 18px;
  padding: 4px 6px;
}

form > div {
  margin-bottom: 10px;
}

.content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  color: #fff;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.search-button {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  padding: 8px 10px;
  background: #d9e2ec;
  border-radius: 15px;
}

.clear-search-button {
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}

.search-button:hover {
  background: #b6bfcb;
}

.clear-search-button:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.likes > span:first-child,
.favorites > span:first-child {
  font-weight: 700;
}

.saved-images-container {
  margin: 10px 0;
}

.saved-image-link {
  text-decoration: none;
  margin-right: 10px;
  color: inherit;
}

.saved-image-link:visited {
  color: inherit;
}

.saved-image-link::before {
  content: "#";
}

.is-image-saved {
  text-transform: uppercase;
}

.likes-favs-container {
  margin-top: 10px;
}

@media screen and (min-width: 300px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 10px 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  input,
  select {
    width: 100%;
  }

  .image-listing-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .image-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .image-details > div:first-child {
    margin-right: 10px;
    width: 100%;
  }

  .image-details > div:last-child {
    width: 100%;
  }

  .tag {
    display: inline-block;
    padding: 3px 8px;
    background: #d9e2ec;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 700;
  }

  .image-details > div:last-child > div:last-child > span {
    margin-right: 10px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 650px;
  }
  .search-filter form {
    display: flex;
    align-items: center;
  }

  form > div {
    margin-right: 10px;
  }

  .image-listing-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .image-listing-container > div {
    margin-right: 10px;
  }

  .image-details {
    flex-direction: row;
  }

  .image-details > div:first-child,
  .image-details > div:last-child {
    width: 50%;
  }

  .image-details > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .clear-search-button {
    margin-top: 10px;
  }
}

@media screen and (min-width: 980px) {
  .container {
    max-width: 1000px;
  }
}
